.navbar {
  background: var(--color-navbar);
  color: var(--color-navbar-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 14px;
  font-size: 1rem; /* más chico */
  min-height: 44px; /* opcional: asegura altura baja */
  box-shadow: 0 2px 10px rgba(0,0,0,0.04);
  transition: background 0.3s, color 0.3s;
  font-family: 'Bebas Neue', cursive;
}

.navbar-logo {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.bebas {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}

.navbar-links {
  display: flex;
  gap: 22px;
  list-style: none;
}

.navbar-links li a {
  color: var(--color-navbar-text);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s, border-bottom 0.25s, box-shadow 0.25s;
  padding: 2px 0;
  position: relative;
}

.navbar-links li a::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: #336651;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.25s;
}

.navbar-links li a:hover {
  color:(--color-active);
  
}

.navbar-links li a:hover::after {
  width: 100%;
}

.theme-toggle {
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-navbar-text);
  outline: none;
  margin-left: 10px;
  transition: color 0.3s;
}
