:root {
  --color-bg: #f8f8f8;
  --color-navbar: #fff;
  --color-navbar-text: #222;
  --color-footer: #333;
  --color-footer-text: #fff;
  --color-card: #fff;
  --color-card-border: #ccc;
  --color-active: #3461ff;
  --color-done: #26c485;
  --color-text: #222;
  --color-error: #ff4d4f;
}

body.dark-mode {
  --color-bg: #151515;
  --color-navbar: #111;
  --color-navbar-text: #fff;
  --color-footer: #111;
  --color-footer-text: #eee;
  --color-card: #222;
  --color-card-border: #444;
  --color-active: #6b8afd;
  --color-done: #26c485;
  --color-text: #fff;
  --color-error: #ff7a7a;
}

body {
  background: var(--color-bg) !important;
  color: var(--color-text);
  font-family: "Quicksand", sans-serif;
  transition: background 0.3s, color 0.3s;
  min-height: 100vh;
  margin: 0;
}
